---
import Form from "../components/Form.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1>This is the about page</h1>
  <Form />
  <a href="#some-heading" style="display: block; margin-block: 20px">Click me</a>
  <p style="max-width: 500px">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ab repudiandae
    quam. Molestias fugit quasi ea, neque maiores necessitatibus quos eaque
    dolore provident sed quia natus quod pariatur corrupti aliquid atque
    quisquam. Perferendis vitae laudantium illum? Molestias deleniti officiis
    vero sint. Culpa totam pariatur temporibus doloribus, ratione cupiditate
    maxime, est quae eaque quia accusantium neque voluptate reprehenderit nulla
    odio blanditiis minima numquam animi modi ut. Dolore minus non tempora qui
    cum. Ipsam quae perspiciatis consequatur vel, cumque nemo doloremque
    laboriosam voluptatibus at quos quas, sunt alias. Ullam quia optio soluta
    temporibus maiores inventore. Labore iure maiores harum ex asperiores
    necessitatibus perferendis placeat excepturi veniam deleniti magnam eligendi
    odit consequatur adipisci aut dolor distinctio animi, rerum accusamus quo
    dignissimos ea! Labore nesciunt qui est voluptatibus quo quaerat laboriosam,
    neque voluptate ipsum, suscipit voluptates officiis debitis? Magni, eveniet
    asperiores magnam commodi, dolores placeat eius fugiat voluptates labore
    voluptatibus incidunt modi, quis adipisci veniam. Aliquid officiis corrupti
    placeat quos beatae numquam fugit quisquam cumque dolor nulla quod, corporis
    laboriosam neque at earum harum reprehenderit debitis velit dolorum nostrum
    voluptatum, aut praesentium? Harum, deserunt corporis eaque amet aliquam ea
    reiciendis nemo ipsa laboriosam porro a quia, minus earum magni iusto
    explicabo labore accusantium excepturi necessitatibus quod. Nihil sunt
    quisquam illo. A commodi assumenda quaerat autem enim aliquid. Laborum saepe
    ducimus unde corporis omnis. Harum itaque quia, deserunt voluptate ipsa
    esse? Doloribus enim voluptate illo nisi sunt nobis ipsa reprehenderit dolor
    omnis dolore dignissimos saepe minus facilis, veritatis eos error nulla
    minima natus exercitationem. Totam autem voluptate corrupti doloribus
    perspiciatis labore, quas optio laboriosam ut est, laudantium temporibus
    deserunt exercitationem sunt doloremque explicabo ratione unde
    necessitatibus ad consequatur? Doloremque illum voluptates dolores quia.
    Consectetur cum odit dicta ex earum laborum, autem dolor tenetur at suscipit
    voluptates minus animi eum voluptate porro voluptatibus amet iusto corrupti
    possimus eaque velit. Id accusamus molestiae tenetur libero. Corrupti labore
    sed similique dolorum enim voluptates repudiandae dolor provident facilis.
    Enim, pariatur ad natus perferendis vitae, perspiciatis doloribus eaque
    tempora unde, a ipsa. Facere aut saepe dignissimos sint maxime dolorem natus
    expedita! Commodi saepe laboriosam necessitatibus suscipit odio at, eligendi
    ab laudantium tempora? Voluptates deleniti, corporis reprehenderit ducimus
    accusantium, similique architecto, distinctio sunt consequuntur minima enim.
    Neque asperiores sunt nam tempora dolor. Nulla cumque similique itaque fugit
    quo, natus officiis vitae veniam voluptatum odit nihil unde tempora, modi
    sunt sapiente pariatur molestias possimus quas voluptatibus iure adipisci?
    Ipsam dicta praesentium neque quasi blanditiis iusto, nam illum ab corporis
    aliquam quod impedit, cum hic dolores architecto soluta, quo distinctio quas
    beatae fugit. Magnam exercitationem et nulla aperiam dicta tempora cum at
    atque sapiente adipisci doloribus iure obcaecati eaque mollitia est, amet
    velit repudiandae deserunt pariatur. Facere, ad consequuntur ipsam ab
    aspernatur vel, voluptas omnis officia error est voluptatum quos non sint
    amet animi illum adipisci quasi vitae at nostrum. At voluptas numquam
    consequuntur facilis aperiam saepe deserunt dolorem quod quibusdam,
    perspiciatis rerum amet, iure rem, inventore ea. Autem dolores neque
    accusamus, excepturi magni culpa alias quaerat doloribus ipsam possimus odit
    distinctio dolorem? Ullam, possimus sit. Reiciendis rem praesentium amet
    culpa nisi molestias fugit vitae, accusantium enim quaerat incidunt
    cupiditate aliquid perferendis ipsam et libero dolores voluptas aliquam, ad
    velit quidem reprehenderit? Exercitationem tempora excepturi aliquid, error
    veritatis repellat modi omnis voluptatem eos minima aliquam, laborum
    expedita consequuntur repellendus soluta, veniam ratione architecto magni
    corporis corrupti necessitatibus. Praesentium nobis hic, repudiandae itaque
    eligendi voluptates debitis facere iure aliquam magnam quia quo sed ad
    voluptas molestiae libero accusamus consequatur! Iste voluptates reiciendis
    sit nam nulla laboriosam fugiat, fugit blanditiis consectetur enim nesciunt
    sint, amet dicta temporibus veniam exercitationem eius impedit commodi quae.
    Magnam hic saepe voluptate illo, et suscipit libero dolores qui quo
    provident, nihil similique atque. Asperiores nisi totam, tenetur, eaque vero
    voluptates delectus soluta eligendi cumque omnis voluptatum facere, pariatur
    vel! Perspiciatis, id! Quisquam rem laudantium sequi dolore natus. Aut velit
    fugit facilis modi quas voluptatem obcaecati minima beatae quis rerum
    reiciendis, libero dolorum accusantium quam repudiandae, recusandae
    molestiae illo illum voluptate nobis non ad sed perspiciatis! Asperiores,
    vel maxime! Enim maxime at exercitationem, dolorem nobis vitae ipsam est
    nulla totam voluptatibus ullam a quaerat architecto cumque dolorum deleniti
    iste quod necessitatibus quidem quas consectetur! Asperiores nisi ipsa
    expedita fugit exercitationem labore eaque eligendi. Ducimus natus repellat
    inventore illum voluptates atque eligendi dicta fugit consectetur architecto
    asperiores, temporibus distinctio ab fugiat tenetur quos nobis sint delectus
    ea blanditiis veritatis provident? Autem nulla velit commodi mollitia
    perferendis esse iure placeat odio non rem architecto, consequuntur,
    repudiandae delectus aspernatur! Pariatur neque suscipit iusto atque nobis
    enim odit unde, sequi corporis. Hic perspiciatis dolorem totam earum
    recusandae, aspernatur, modi magni tenetur quasi aperiam, rerum officiis est
    placeat accusantium explicabo. Consequuntur provident aut ut, minima,
    excepturi eveniet tempora quia laborum cupiditate impedit nesciunt quasi
    aspernatur saepe, illum dignissimos ex eligendi incidunt. Officiis ipsum aut
    ab atque omnis maxime doloremque nostrum vel molestiae? Eum, ea officia
    perferendis, dolores minus magni eius nemo consectetur quo quis unde
    quibusdam ex tenetur facere accusantium dolore? Laudantium iure laborum nam
    numquam ratione, soluta impedit reiciendis maiores natus commodi ex culpa
    quos suscipit nisi nobis. Quaerat cupiditate consectetur ipsum laudantium
    quam quos deserunt magni id earum, modi exercitationem, velit ratione. Iste
    quae unde quia eveniet nostrum maxime doloribus dolorum quod porro repellat
    consequatur asperiores nulla, sapiente nesciunt non earum dignissimos
    deserunt, quibusdam quidem, quos id culpa error accusamus tempore. Expedita,
    voluptates reprehenderit? Nobis facilis inventore, labore nemo hic ad non
    repudiandae ut eum, accusamus sapiente officia laudantium harum. Error
    commodi distinctio, impedit pariatur fugiat totam tempore dicta fuga
    incidunt aut, illo perspiciatis numquam, odio minus sed maxime qui dolor
    magnam deserunt enim? Iusto nulla, deleniti libero magnam odit ipsum
    accusantium sed a aliquam, deserunt quibusdam nihil laborum consectetur quod
    incidunt modi dignissimos non ea nostrum quisquam. Temporibus esse minus
    praesentium odio, debitis vel optio ipsam dicta consequatur nobis reiciendis
    soluta, iure nulla odit officia, accusantium voluptate architecto veniam
    quos sapiente ipsum! Corrupti saepe officiis omnis quibusdam ut vero rerum
    maxime quo fuga porro. Nihil, dolores? Blanditiis, est? Temporibus natus
    dolorem impedit assumenda.
  </p>

  <h2 id="some-heading">Some heading</h2>
  You can go here without JS
</MainLayout>
